<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-32x32.png" %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-16x16.png" %}" sizes="16x16" />
  <title>Ontology</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/styles.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/custom-responsive-styles.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/tree_view.css" %}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{% static "app1/scripts/jquery-3.2.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/all-plugins.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/plugins-activate.js" %}"></script>
  
  <!-- ----------      Bootstrap      --------------- -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  <!-- ----------     END Bootstrap      --------------- -->

  <script type="text/javascript" src="{% static "app1/scripts/ontology_creation_enviroment_post_handler.js" %}"> </script>
  

  <!-------            SIGMA JS               -------->
  
  <script src="{% static "app1/sigma_js/src/sigma.core.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/conrad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/utils/sigma.utils.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/utils/sigma.polyfills.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/sigma.settings.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.dispatcher.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.configurable.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.graph.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.camera.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.quad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.edgequad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/captors/sigma.captors.mouse.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/captors/sigma.captors.touch.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.canvas.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.webgl.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.svg.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.nodes.fast.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.fast.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.hovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.extremities.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.utils.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.edges.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.hovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/middlewares/sigma.middlewares.rescale.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/middlewares/sigma.middlewares.copy.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.animation.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.bindEvents.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.bindDOMEvents.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.drawHovers.js" %}"></script>
    
    <!-- EDGES LABEL -->
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/settings.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js" %}"></script>
    <!-- END EDGES LABEL -->

    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js" %}"></script>

    <script src="{% static "app1/sigma_js/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js" %}"></script> 
    <script src="{% static "app1/sigma_js/plugins/sigma.parsers.json/sigma.parsers.json.js" %}"></script>

    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customShapes/shape-library.js" %}"></script> 
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customShapes/sigma.renderers.customShapes.js" %}"></script>
    
  <!-------            END SIGMA JS               -------->
  
  <link rel="stylesheet" href="{% static "app1/fontawesome/css/all.css" %}">
  
  <script src="{% static "app1/sigma_js/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js" %}"></script>
  <!-----      BOOTSTRAP-TREEVIEW             -->
  <script src="{% static "app1/bootstrap-treeview1/src/js/bootstrap-treeview1.js" %}"></script>
  <script src="https://kit.fontawesome.com/6968193df3.js" crossorigin="anonymous"></script>

  <!-----      ENDBOOTSTRAP-TREEVIEW             -->

</head>

<body id="page-top" onload="loadStructureClass(); loadStructureProperty(); displayNewConceptRule(); displaySimpleRules(); displaySubProcessRule();">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-plane" aria-hidden="true"><span>Имя пользователя</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper" >
    <ul class="sidebar-nav" class="bg-info">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="../ontology/" onclick="document.location.href='../';">Начальная страница</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Classes">Редактор структуры онтологии</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#editorRules">Редактор правил</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#applicationRules">Применение правил</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#displayGraph">Отображение правил</a>
      </li>
    </ul>
  </nav>
  <!-- Header Starts -->
  <section id="Banner" class="content-section" >
    <div class="container content-wrap text-center">
      <h1>Редактор онтологии</h1>
      <h3>
          <em>Всем привет, тут можно редактировать онтологии</em>
        </h3>
    </div>
    <div class="overlay"></div>
  </section>

  <!-- -----------------------------CLASSES SECTION--------------------------------------------------------------- -->
  <section id="Classes" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Редактор структуры онтологии</h2>
        </div>
      </div>
    </div>
    <div class="container" style="max-width:80%">
      <div class="row">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#appendClass" data-toggle="pill" role="tab" aria-selected="true">Классы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#appendProperty" data-toggle="pill" role="tab" aria-selected="false">Отношения</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#appendIndividual" data-toggle="pill" role="tab" aria-selected="false">Экземпляры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#appendRelationship" data-toggle="pill" role="tab" aria-selected="false">Связи</a>
          </li>
        </ul>
      </div>

      <div class="row tab-content">
        <!-- ----------------                Добавление классов            --------------- -->
        <div class="tab-pane fade show active border border-info bg-warning treeview-animated" id="appendClass" role="tabpanel" style="margin-top: 1%;">
          <div class="container">
            <div class="row">
              <div class="col-12" id="tree"></div>
            </div>
            <div class="row">
              <div class="col-4" style="margin-top: 1%;">
                <input class="w-100" id="subClassName" name="subClassName" type="text">
              </div>
              <div class="col-3" style="margin-top: 1%;" >
                <input class="w-100" type="color" id="inpute_color_class" name="inpute_color_class" value="#000000">
              </div>
              <div class="col-5" style="margin-top: 1%;">
              {% csrf_token %}
                <button class="btn btn-success w-100"  onclick="addClass(this)">Добавить класс</button>
              </div>
            </div>

            <div class="row">
              <div class="col-7">
              </div>
              <div class="col-5">
                {% csrf_token %}
                <button class="btn btn-danger w-100" onclick="deleteClass(this)">Удалить класс</button>
              </div>
            </div>
          </div>
        </div>
        <!--      ----------------                Добавление свойств            ---------------    -->
        <div id="appendProperty" class="tab-pane fade border border-info bg-success treeview-animated" role="tabpanel" style="margin-top: 1%;"> 
          <div class="container">
            <div class="row">
              <div class="col-12" id="treeProperty"></div>
            </div>
            <div class="row">
              <div class="col-4" style="margin-top: 1%;">
                <input class="w-100" id="subPropertyName" name="subPropertyName" type="text">
              </div>
              <div class="col-3" style="margin-top: 1%;" >
                <input class="w-100" type="color" id="inpute_color_property" name="inpute_color_property" value="yellow">
              </div>
              <div class="col-5" style="margin-top: 1%;">
              {% csrf_token %}
                <button class="btn" style="background-color: rgb(101, 236, 11);"  onclick="addProperty(this)">Добавить отношение</button>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
              </div>
              <div class="col-5" style="margin-top: 1%;">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="deleteProperty(this)">Удалить отношение</button>
              </div>
            </div>
          </div>
        </div>        
        <!-- -----------------             Добавление экземпляров            ---------------------- -->
        <div id="appendIndividual" class="container tab-pane fade border border-info" style="margin-top:1%; min-width: 100%;" role="tabpanel">
          <div class="row">
            <!-- этот div для раскрытия списка Свойств -->
            <div id="anotherSpan" class="col-6 text-left" style="background-color:rgba(240, 240, 6, 0.822);"> 
              <div id="treeClassIndividuals">
              </div>
            </div>
            <div  style="background-color:#8f1d87;" class="col-6 list-group">
              <div id="list_individuals" style="margin: 1%;" class="list-group" id="list-tab" role="tablist">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3 offset-6" style="margin-top: 1%;">
              <input class="w-100" id="individualName" name="individualName" type="text">
            </div>
            <div class="col-1" style="margin-top: 1%;" >
                <input class="w-100" type="color" id="inpute_color_class" name="inpute_color_class" value="yellow">
              </div>
            <div class="col-2" style="margin-top: 1%;">
              {% csrf_token %}
              <button class="btn btn-success w-100" onclick="addIndividual(this)">Добавить экземпляр</button>
            </div>
          </div>
          <div class="row">
            <div class="col-2 offset-10">
              {% csrf_token %}
              <button class="btn btn-danger w-100" onclick="deleteIndividual(this)">Удалить экземпляр</button>
            </div>
          </div>
        </div>
        <!-- ------------------------------                Добавление связей                                    -->
        <div id="appendRelationship" class="container tab-pane fade border border-info" role="tabpanel" style="min-width:100%; margin-top:1%;" >
          <div class="container-fluid">
            <div class="row">
              <div class="col-4 text-center">
                <h5>Отношение</h5>
              </div>
              <div class="col-4 text-center">
                <h5>Domain</h5>
              </div>
              <div class="col-4 text-center">
                <h5>Range</h5>
              </div>
            </div>
            <div class="row">
              <div id="tree_property_for_rlation" class="col-4"></div>
              <div  style="background-color:greenyellow;" class="col-4 list-group">
                <div id="property_domain" style="margin: 1%;" class="list-group" id="list-tab" role="tablist">
                </div>
              </div>
              <div  style="background-color:rgb(233, 229, 14);" class="col-4 list-group">
                <div id="property_range" style="margin: 1%;" class="list-group" id="list-tab" role="tablist">
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="offset-4 col-2" style="margin-top: 1%;">
                <select id="list_class_and_individual_for_domain" class="form-control" size="3" aria-label="size 3 select example">
                  {% for i in listOfClasses %}
                    {% if i != '#' %}
                      <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                    {% endif %}
                  {% endfor %}
                  {% for i in listOfIndividuals %}
                    <option id="{{i}}" style="background-color: #513166; color:black;" name="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2" style="margin-top: 1%;">
                <button onclick="addDomain()" class="btn btn-success" style="margin-right: 1%;">Добавить DOMAIN</button>
              </div>
              <div class="col-2" style="margin-top: 1%;">
                <select id="list_class_and_individual_for_range" class="form-control" size="3" aria-label="size 3 select example">
                  {% for i in listOfClasses %}
                    {% if i != '#' %}
                      <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                    {% endif %}
                  {% endfor %}
                  {% for i in listOfIndividuals %}
                    <option id="{{i}}" style="background-color: #513166; color:black;" name="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2" style="margin-top: 1%;">
                <button onclick="addRange()" class="btn btn-success">Добавить RANGE</button>
              </div>
            </div>
            <div class="row">
              <div class="offset-6 col-2"><button onclick="deleteDomain()" class="btn btn-danger">Удалить DOMAIN</button></div>
              <div class="offset-2 col-2"><button onclick="deleteRange()" class="btn btn-danger">Удалить RANGE</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>  

  </section>

  <!--  ------------------------------ EDIT RULES SECTION----------------------------------------------------------------  -->
  
  <section id="editorRules" class="content-section">
    <div class="text-center">
      <h2>Редактор правил</h2>
    </div>
    <div class="container" style="max-width:80%">
      <div class="row">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#addSimpleRule" data-toggle="pill" role="tab" aria-selected="true">Простое правило</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#addNewConceptRule" data-toggle="pill" role="tab" aria-selected="false">Вывод концепта</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#addSubProcessRule" data-toggle="pill" role="tab" aria-selected="false">Вывод подпроцесса</a>
          </li>
        </ul>
      </div>   
      <div class="row tab-content">
      <!-----------------------------------------Редактор простых правил---------------------------------------------------->
        <div id="addSimpleRule" class="container tab-pane fade border border-info active show" role="tabpanel" style="min-width:100%; margin-top: 1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule1.jpg" %}">
                </div>
                <div class="row">
                  <div class="col-3 text-center">
                    <h4><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 1</span></h4>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <select id="simple_rules_object_first" data-live-search="true" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="simple_rules_property_first_second"  class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listPropertyConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">                        
                      <a href="#your"><i id="raw_image1" data-right="True" name = "raw_image1" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h4><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 2</span></h4>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <select id="simple_rules_object_second" name="simple_rules_object_second" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="simple_rules_property_second_third" name="simple_rules_property_second_third" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listPropertyConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <a href="#your"><i id="raw_image2" data-right="True" name = "raw_image2" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 3</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <select id="simple_rules_object_third" name="simple_rules_object_third" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 3</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="simple_rules_property_first_third" name="simple_rules_property_first_third" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listPropertyConcepts %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 3</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <a href="#your"><i id="raw_image3" data-right="True" name = "raw_image3" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addSimpleRuele()">Добавить правило</button>
                  </div>
                </div>
              </div>
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_simple_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteSimpleRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
              
            </div>
          </div>
        </div>
        <!-----------------------------------------Редактор с добавлением нового концепта---------------------------------------------------->
        <div id="addNewConceptRule" class="container tab-pane fade border border-info" role="tabpanel" style="min-width:100%; margin-top:1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule2.jpg" %}">
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Класс 1</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <select id="setNewConceptRule_k1" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfClasses %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="setNewConceptRule_p2" name="setNewConceptRule_p2" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfProperty %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Класс 3</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <select id="setNewConceptRule_k3" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfClasses %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: rgba(240, 240, 6, 0.822); color:black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addNewConceptRule()">Добавить правило</button>
                  </div>
                </div>
              </div>
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_new_concept_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteNewConceptRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
            </div>
          </div>
        </div>
        <!----------------------------------------    Редактор с поиском подструктур   ------------------------------------------------------>
        <div id="addSubProcessRule" class="container tab-pane fade border border-info" role="tabpanel" style="min-width:100%; margin-top:1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule3.jpg" %}">
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="setSubProcessRule_p2" name="setNewConceptRule_p2" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfProperty %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <select id="setSubProcessRule_p3" name="setNewConceptRule_p2" class="form-control" size="3" aria-label="size 3 select example">
                        {% for i in listOfProperty %}
                          {% if i != '#' %}
                            <option id="{{i}}" name="{{i}}" style="background-color: #67c255; color: black;">{{i}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addSubProcessRule()">Добавить правило</button>
                  </div>
                </div>
              </div>
              
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_sub_process_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteSubProcessRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </section>
  
  <!-- ------------------------------ END EDIT RULES SECTION---------------------------------------------------------------- -->

  <!--                               APPLICATION RULES                                                                       -->
  <!------                                    Применение правил                                                  ------>
  <section id="applicationRules" class="content-section">
    <div class="text-center">
      <h2>Применение правил</h2>
    </div>
    <div class="container" style="max-width:80%">
      <div class="row">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#applicationSimpleRule" data-toggle="pill" role="tab" aria-selected="true">Простое правило</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#applicationNewConceptRule" data-toggle="pill" role="tab" aria-selected="false">Вывод концепта</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#applicationSubProcessRule" data-toggle="pill" role="tab" aria-selected="false">Вывод подпроцесса</a>
          </li>
        </ul>
      </div>   
      <div class="row tab-content">
        <div id="applicationSimpleRule" class="container tab-pane fade border border-info active show" role="tabpanel" style="min-width:100%; margin-top: 1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule1.jpg" %}">
                </div>
                <div class="row">
                  <div class="card-body">
                    <div class="form-group" id="div_check_simple_rule">
                      
                    </div>
                  </div>
                </div>     
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="applicationSimpleRule()">Применить</button>
                  </div>
                </div>
              </div>
              
              <div id="report_simple_rule"  style="background-color:#5246f5;" class="col-6">
              </div>
            </div>
          </div>
        </div>
        <!-----------------------------------------Редактор с добавлением нового концепта---------------------------------------------------->
        <div id="applicationNewConceptRule" class="container tab-pane fade border border-info" role="tabpanel" style="min-width:100%; margin-top:1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule2.jpg" %}">
                </div>
                <div class="row">
                  <div class="card-body">
                    <div class="form-group" id="form_applicationNewConceptRule">
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="applicationNewConceptRule();">Применить</button>
                  </div>
                </div>
              </div>
              
              <div id="report_new_concept" style="background-color:#5246f5;" class="col-6">
              </div>
            </div>
            </div>
          
        </div>
        <!----------------------------------------    Редактор с поиском подструктур   ------------------------------------------------------>
        <div id="applicationSubProcessRule" class="container tab-pane fade border border-info" role="tabpanel" style="min-width:100%; margin-top:1%;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule3.jpg" %}">
                </div>
                <div class="row">
                  <div class="card-body">
                    <div class="form-group" id="form_applicationSubProcessRule">
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="applicationSubProcessRule();">Применить</button>
                    
                  </div>
                </div>
              </div>
              
              <div id="report_sub_process" style="background-color:#5246f5;" class="col-6">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    #graph1 { 
     width: 100%; 
     height: 600px;
     
     
     margin: 5px;
    }
   </style>

  <section id="displayGraph" class="content-section">
    <div class="text-center">
      <h2>Отображение графа</h2>
    </div>
    <div class="container border border-primary" style="background-color: rgb(72, 65, 139);">
      <div id="container1" class="row">
        <div id="graph-container1" class="col-12">
          <div id="graph1" class="col-12 "></div>
        </div>
       </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-5 col-2" style="margin-top: 1%;">
          <button type="button" class="btn btn-success btn-lg" onclick="refresh_graph();">Обновить</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-2 col-10" style="margin-top: 1%;">
          <button type="button" class="btn btn-danger btn-lg" onclick="delete_ontology();">Удалить онтологию</button>
        </div>
      </div>
    </div>
  </section>
  
   


  <!--                               END APPLICATION RULES                                                                   -->

    <script src="{% static "app1/sigma_js/plugins/sigma.parsers.json/sigma.parsers.json.js" %}"></script>

    
    <script>
      function create_graph(data) {
        

        var s = new sigma({
          graph: data,
          renderers: [
            {
              
              container: document.getElementById('graph1'),
              type: 'canvas' // sigma.renderers.canvas works as well
            }
          ],
          settings: {
            /**defaultNodeColor: '#ec5148'**/
            minArrowSize: 10,
            //maxEdgeSize: 25,
            edgeLabelSize: 'proportional',
            drawEdgeLabels: true
          }
        });
        
        //sigma.parsers.json("{% static "app1/sigma_js/examples/data/b.json" %}", s );
        CustomShapes.init(s);
        
        var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

        dragListener.bind('startdrag', function(event) {
          console.log(event);
        });
        dragListener.bind('drag', function(event) {
          console.log(event);
        });
        dragListener.bind('drop', function(event) {
          console.log(event);
        });
        dragListener.bind('dragend', function(event) {
          console.log(fevent);
        });
        s.refresh();
        /*window.setTimeout(function () {
          // Nothing is displayed
          //$("").show();
          // refresh() doesn't cut it
          s.refresh();
          // This does.
          window.dispatchEvent(new Event('resize'));
        }, 1000);*/
      }
    </script>
    <script>
      function refresh_graph() {
        // to delete & refresh the graph
        var a = JSON.parse(GetSyncRequest('/ontology/db_to_owl/').response);
        if (a['result']==true)
        {
          document.getElementById("graph1").remove()
          document.getElementById("graph-container1").innerHTML+='<div id="graph1" class="col-12"></div>';
          var data=a['data'];
          create_graph(data);
        }
        else
        {
          alert("Ошибка при построении крафа");
        }
      }
    </script>






<script src="{% static "app1/scripts/context_menu.js" %}"></script>
<!-- Задача черного spqn для tree11 -->
<style> 
  #treeClassIndividuals span
  {
    color:black;
  }
  #tree span
  {
    color:black;
  }
  #appendProperty span
  {
    color:black;
  }
  #tree_property_for_rlation span
  {
    color:black;
  }
  
</style>
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="javascript:void(0)">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright © 2021</p>
      <p class="text-muted small mb-0">Designed by <a href="#" target="_balnk">Валерон</p>
    </div>
  </footer>
 
</body>

</html>