
{% load static %}
    <script src="{% static "app1/sigma_js/src/sigma.core.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/conrad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/utils/sigma.utils.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/utils/sigma.polyfills.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/sigma.settings.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.dispatcher.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.configurable.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.graph.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.camera.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.quad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/classes/sigma.classes.edgequad.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/captors/sigma.captors.mouse.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/captors/sigma.captors.touch.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.canvas.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.webgl.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.svg.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/sigma.renderers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.nodes.fast.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.fast.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/webgl/sigma.webgl.edges.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.hovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/canvas/sigma.canvas.extremities.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.utils.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.nodes.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.edges.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.edges.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/renderers/svg/sigma.svg.hovers.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/middlewares/sigma.middlewares.rescale.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/middlewares/sigma.middlewares.copy.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.animation.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.bindEvents.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.bindDOMEvents.js" %}"></script>
    <script src="{% static "app1/sigma_js/src/misc/sigma.misc.drawHovers.js" %}"></script>
    
    <!-- EDGES LABEL -->
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/settings.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js" %}"></script>
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js" %}"></script>
    <!-- END EDGES LABEL -->

    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customEdgeShapes/sigma.canvas.edges.dotted.js" %}"></script>

    <script src="{% static "app1/sigma_js/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js" %}"></script> 
    <script src="{% static "app1/sigma_js/plugins/sigma.parsers.json/sigma.parsers.json.js" %}"></script>

    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customShapes/shape-library.js" %}"></script> 
    <script src="{% static "app1/sigma_js/plugins/sigma.renderers.customShapes/sigma.renderers.customShapes.js" %}"></script>
    

  <div id="graph-container">
      <div id="graph"></div>
  </div>
  <button onclick="">Перезагрузить</button>
  <script>
    var s = new sigma({
      renderers: [
        {
          container: document.getElementById('graph'),
          type: 'canvas' // sigma.renderers.canvas works as well
        }
      ],
      settings: {
        /**defaultNodeColor: '#ec5148'**/
        minArrowSize: 10,
        //maxEdgeSize: 25,
        edgeLabelSize: 'proportional',
        drawEdgeLabels: true
        }
      });
    sigma.parsers.json("{% static "app1/sigma_js/examples/data/b.json" %}", s );
    CustomShapes.init(s);
    s.refresh();
  </script>
  <script>
    var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
  
    dragListener.bind('startdrag', function(event) {
      console.log(event);
    });
    dragListener.bind('drag', function(event) {
      console.log(event);
    });
    dragListener.bind('drop', function(event) {
      console.log(event);
    });
    dragListener.bind('dragend', function(event) {
      console.log(fevent);
    });

    window.onload = function () {s.refresh()};
  </script>
  <style>
    #graph {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>

