<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-32x32.png" %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static "app1/images/favicon-16x16.png" %}" sizes="16x16" />
  <title>Ontology</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/styles.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/custom-responsive-styles.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "app1/styles/tree_view.css" %}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{% static "app1/scripts/jquery-3.2.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/all-plugins.js" %}"></script>
  <script type="text/javascript" src="{% static "app1/scripts/plugins-activate.js" %}"></script>
  
  <!-- ----------      Bootstrap      --------------- -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  <!-- ----------     END Bootstrap      --------------- -->

  <script type="text/javascript" src="{% static "app1/scripts/ontology_creation_enviroment_post_handler.js" %}"> </script>
  <link rel="stylesheet" href="{% static "app1/fontawesome/css/all.css" %}">
</head>

<body id="page-top" onload="loadStructureClass(); loadStructureProperty(); displayNewConceptRule(); displaySimpleRules(); displaySubProcessRule();">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-plane" aria-hidden="true"><span>Имя пользователя</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper" >
    <ul class="sidebar-nav" class="bg-info">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="../ontology/" onclick="document.location.href='../';">Начальная страница</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#editorSimpleRules">Редактор простых суперправил</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#editorNewConceptRule">Редактор суперправил с добавлением концепта</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#editorSubProcessRule">Редактор суперправил с поиском подпроцесса</a>
      </li>
    </ul>
  </nav>
  <section id="Banner" class="content-section" >
    <div class="container content-wrap text-center">
      <h1>Редактор суперправил</h1>
      <h3>
          <em>Всем привет, тут можно редактировать суперправила</em>
        </h3>
    </div>
    <div class="overlay"></div>
  </section>
  <section id="editorSimpleRules" class="content-section">
    <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule1.jpg" %}">
                </div>
                <div class="row">
                  <div class="col-3 text-center">
                    <h4><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 1</span></h4>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <input id="simple_rules_object_first" data-live-search="true" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="simple_rules_property_first_second"  class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">                        
                      <a href="#your"><i id="raw_image1" data-right="True" name = "raw_image1" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h4><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 2</span></h4>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <input id="simple_rules_object_second" name="simple_rules_object_second" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="simple_rules_property_second_third" name="simple_rules_property_second_third" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <a href="#your"><i id="raw_image2" data-right="True" name = "raw_image2" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Суперкласс 3</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <input id="simple_rules_object_third" name="simple_rules_object_third" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 3</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="simple_rules_property_first_third" name="simple_rules_property_first_third" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Направление 3</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <a href="#your"><i id="raw_image3" data-right="True" name = "raw_image3" onclick="arrowClick(this)" class="fas fa-long-arrow-alt-right fa-7x" style="color:#67c255;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addSimpleRuele()">Добавить правило</button>
                  </div>
                </div>
              </div>
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_simple_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteSimpleRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
              
            </div>
    </div>
  </section>
  
  <section id="editorNewConceptRule" class="content-section">
      <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule2.jpg" %}">
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Класс 1</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <input id="setNewConceptRule_k1" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="setNewConceptRule_p2" name="setNewConceptRule_p2" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center">
                    <h3><span class="badge" style="background-color: rgba(240, 240, 6, 0.822); color: black">Класс 3</span></h3>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <input id="setNewConceptRule_k3" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addNewConceptRule()">Добавить правило</button>
                  </div>
                </div>
              </div>
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_new_concept_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteNewConceptRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
            </div>
      </div>
  </section>
  <section id="editorSubProcessRule" class="content-section">
    <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <img class="img-fluid" src="{% static "app1/images/rule3.jpg" %}">
                </div>
                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 1</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="setSubProcessRule_p2" name="setNewConceptRule_p2" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3 text-center" style="margin-top: 1%;">
                    <h3><span class="badge" style="background-color: #67c255; color: black">Отношение 2</span></h3>
                  </div>
                  <div class="col-9" style="margin-top: 1%;">
                    <div class="row">
                      <input id="setSubProcessRule_p3" name="setNewConceptRule_p2" class="text form-control" size="3" aria-label="size 3 select example">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="offset-3 col-9" style="margin-top: 1%; margin-bottom: 1%;">
                    <button type="button" class="btn btn-success btn-lg" onclick="addSubProcessRule()">Добавить правило</button>
                  </div>
                </div>
              </div>
              
              <div  style="background-color:#5246f5;" class="col-6">
                <div id = "list_sub_process_rules" style="margin: 1%; max-height:1200px;overflow:scroll;" class="list-group"   role="tablist">
                  <a class="list-group-item list-group-item-action", data-toggle="list", href="list-home", role="tab", aria-controls="home">
                  </a>
                </div>
                <button onclick="deleteSubProcessRule()" class="btn btn-danger btn-lg">Удалить правило</button>
              </div>
            </div>
    </div>
  </section>
</body>